*,
::before,
::after {
  box-sizing: border-box;
  border: 0 solid #e2e2e2;
}

.dark *, ::after, ::before {
  border-color: #484848;
}

body {
  margin: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  outline: none;
}

input {
  outline: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}