@import './base.scss';
@import './var.scss';
@import './markdown.scss';

*,
::before,
::after {
  box-sizing: border-box;
  border: 0 solid var(--border-c);
}

html {
  color: var(--text-c);
  background-color: var(--bg-c);
}

body {
  font-family: "LXGW WenKai", sans-serif;
}

@media (min-width: 1280px) {
  .container, [container=""] {
    max-width:900px !important;
  } 
}

/* Loading bar */
html #nprogress  {
  .bar {
    background: var(--primary-c);
    height: 1px;
  }
  .peg {
    box-shadow: 0 0 10px var(--primary-c), 0 0 5px var(--primary-c);
  }
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--bg-c);
}
::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-clip: padding-box;
  background-color: #8888;
  border-radius: 9999px;

  &:hover {
    background-color: #888b;
  }
}

/* slide enter */
@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0
  }

  to {
    transform: translateY(0);
    opacity: 100
  }
}

@media (prefers-reduced-motion:no-preference) {
  html:not(.no-sliding) [slide-enter],
  html:not(.no-sliding) .slide-enter,
  html:not(.no-sliding) .slide-enter-content > *,
  html:not(.no-sliding) .slide-enter-post > div > * {
    // --enter-stage: 0;
    --enter-step: 90ms;
    --enter-initial: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
  }
  .slide-enter-content > *,
  .slide-enter-post > div > * {
    &:nth-child(1) { --enter-stage: 1 !important; }
    &:nth-child(2) { --enter-stage: 2 !important; }
    &:nth-child(3) { --enter-stage: 3 !important; }
    &:nth-child(4) { --enter-stage: 4 !important; }
    &:nth-child(5) { --enter-stage: 5 !important; }
    &:nth-child(6) { --enter-stage: 6 !important; }
    &:nth-child(7) { --enter-stage: 7 !important; }
    &:nth-child(8) { --enter-stage: 8 !important; }
    &:nth-child(9) { --enter-stage: 9 !important; }
    &:nth-child(10) { --enter-stage: 10 !important; }
    &:nth-child(11) { --enter-stage: 11 !important; }
    &:nth-child(12) { --enter-stage: 12 !important; }
    &:nth-child(13) { --enter-stage: 13 !important; }
    &:nth-child(14) { --enter-stage: 14 !important; }
    &:nth-child(15) { --enter-stage: 15 !important; }
    &:nth-child(16) { --enter-stage: 16 !important; }
    &:nth-child(17) { --enter-stage: 17 !important; }
    &:nth-child(18) { --enter-stage: 18 !important; }
    &:nth-child(19) { --enter-stage: 19 !important; }
    &:nth-child(20) { --enter-stage: 20 !important; }
  }  
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}