@import './base.scss';
@import './var.scss';
@import './markdown.scss';

*,
::before,
::after {
  box-sizing: border-box;
  border: 0 solid var(--border-c);
}

html {
  color: var(--text-c);
  background-color: var(--bg-c);
}

body {
  font-family: "LXGW WenKai", sans-serif;
  font-size: 18px;
}

@media (min-width: 1280px) {
  .container, [container=""] {
    max-width:900px !important;
  } 
}

/* Loading bar */
html #nprogress  {
  .bar {
    background: var(--primary-c);
    height: 1px;
  }
  .peg {
    box-shadow: 0 0 10px var(--primary-c), 0 0 5px var(--primary-c);
  }
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--bg-c);
}
::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-clip: padding-box;
  background-color: #8888;
  border-radius: 9999px;

  &:hover {
    background-color: #888b;
  }
}

/* slide enter */
@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0
  }

  to {
    transform: translateY(0);
    opacity: 100
  }
}

@media (prefers-reduced-motion:no-preference) {
  [slide-enter],
  .slide-enter,
  .slide-enter-content > *,
  .slide-enter-post > div > * {
    --enter-stage: 0;
    --enter-step: 90ms;
    --enter-initial: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
  }
  .slide-enter-content > *, .slide-enter-post > div > * {
    &:nth-child(1) { --enter-stage: 1; }
    &:nth-child(2) { --enter-stage: 2; }
    &:nth-child(3) { --enter-stage: 3; }
    &:nth-child(4) { --enter-stage: 4; }
    &:nth-child(5) { --enter-stage: 5; }
    &:nth-child(6) { --enter-stage: 6; }
    &:nth-child(7) { --enter-stage: 7; }
    &:nth-child(8) { --enter-stage: 8; }
    &:nth-child(9) { --enter-stage: 9; }
    &:nth-child(10) { --enter-stage: 10; }
    &:nth-child(11) { --enter-stage: 11; }
    &:nth-child(12) { --enter-stage: 12; }
    &:nth-child(13) { --enter-stage: 13; }
    &:nth-child(14) { --enter-stage: 14; }
    &:nth-child(15) { --enter-stage: 15; }
    &:nth-child(16) { --enter-stage: 16; }
    &:nth-child(17) { --enter-stage: 17; }
    &:nth-child(18) { --enter-stage: 18; }
    &:nth-child(19) { --enter-stage: 19; }
    &:nth-child(20) { --enter-stage: 20; }
  }  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}