html {
  --s-bg-c: #ffffff;
  --s-dark-bg-c: #121212;
}

html .shiki {
  background-color: var(--s-bg-c) !important;
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--s-dark) !important;
  --s-bg-c: var(--s-dark-bg-c)
}

.prose pre {
  line-height: 1.4;
}

.prose pre::-webkit-scrollbar {
  background: var(--s-bg-c);
}

.prose .vp-adaptive-theme {
  position: relative;
}
/* .prose .vp-adaptive-theme:hover .lang {
  opacity: 0;
} */
.prose .vp-adaptive-theme:hover .copy {
  opacity: 1;
}
.prose .copy {
  position: absolute;
  display: none;
}
.prose .lang {
  position: absolute;
  right: 0;
  top: 0;
  margin: 8px;
  font-size: 14px;
  transition: opacity 0.2s;
}

.prose p {
  color: var(--text-c-1);
}

.prose a {
  font-weight: inherit;
  text-decoration: none;
  color: var(--text-c);
  border-bottom: 1px solid var(--border-c);
  transition: border 0.3s ease-in-out;
}

.prose a:hover {
  border-bottom: 1px solid var(--text-c);
}

.prose a code {
  color: inherit;
}

/* Table  */
.prose table tbody tr {
  border-bottom-width: 1px;
}
.prose table tbody tr td,
.prose table thead tr th {
  border: 1px solid var(--border-c);
}
/* 斑马线 */
.prose table tbody tr:nth-child(2n),
.prose table thead tr th {
  background-color: #eee;
}
html.dark .prose table tbody tr:nth-child(2n),
html.dark .prose table thead tr th {
  background-color: #222;
}
