html {
  --s-bg-c: #ffffff;
  --s-dark-bg-c: #121212;

  .shiki {
    background-color: var(--s-bg-c) !important;
  }

  &.dark .shiki,
  &.dark .shiki span {
    color: var(--s-dark) !important;
    background-color: var(--s-dark-bg-c) !important;
  }
}
html.dark {
  --s-bg-c: var(--s-dark-bg-c)
}

code { 
  font-family: 'Fira Code', monospace !important;
 }

@supports (font-variation-settings: normal) {
  code { 
    font-family: 'Fira Code VF', monospace !important;
  }
}

.prose {
  pre {
    line-height: 1.4;
    font-size: 14px;
  }
  pre::-webkit-scrollbar {
    background: var(--s-bg-c);
  }
  .vp-adaptive-theme {
    position: relative;
  }
  .vp-adaptive-theme:hover {
    .copy {
      opacity: 1;
      z-index: 9;
    }
    .lang {
      opacity: 0;
    }
  }
  .copy {
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px;
    padding: 0;
    color: var(--text-c-1);
    font-size: 12px;
    background: transparent;
    opacity: 0;
    transition: opacity 0.4s;
    &::after {
      content: '复制';
      opacity: 0.75;
      transition: color 0.4s;
      cursor: pointer;
    }
    &:hover {
      color: var(--text-c);
    }
    &.copied::after {
      content: '已复制';
    }
  }
  .lang {
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px;
    color: var(--text-c-1);
    font-size: 12px;
    opacity: 0.75;
    transition: opacity 0.4s;
  }
  p {
    color: var(--text-c-1);
  }
  a {
    font-weight: inherit;
    text-decoration: none;
    color: var(--text-c);
    border-bottom: 1px solid var(--border-c);
    transition: all 0.3s ease-in-out;
    &:hover {
      border-bottom: 1px solid var(--text-c);
    }
  }
  code {
    color: inherit;
  }
  code::after, code::before {
    content: none;
  }
  p > code {
    font-weight: normal;
    font-size: 0.8em;
    padding: 0.2em;
    background-color: var(--s-bg-c);
  }
  .dark p > code {
    background-color: var(--s-dark-bg-c);
  }

  hr {
    border-bottom: 1px solid var(--border-c);
  }

  blockquote {
    border-left: 4px solid var(--border-c);
  }
  blockquote p{
    margin: 0.5em;
  }
}

.prose table {
  /* Table  */
  tbody tr {
    border-bottom-width: 1px;
  }
  tbody tr td,
  thead tr th {
    border: 1px solid var(--border-c);
  }
  /* 斑马线 */
  tbody tr:nth-child(2n),
  thead tr th {
    background-color: #eee;
  }
}
html.dark .prose table {
  tbody tr:nth-child(2n),
  thead tr th {
    background-color: #222;
  }
} 
