html {
  --s-bg-c: #ffffff;
  --s-dark-bg-c: #121212;

  .shiki {
    background-color: var(--s-bg-c) !important;
  }

  &.dark .shiki,
  &.dark .shiki span {
    color: var(--s-dark) !important;
    background-color: var(--s-dark-bg-c) !important;
  }
}
html.dark {
  --s-bg-c: var(--s-dark-bg-c)
}

code { 
  font-family: 'Fira Code', monospace !important;
 }

@supports (font-variation-settings: normal) {
  code { 
    font-family: 'Fira Code VF', monospace !important;
  }
}

.prose {
  pre {
    line-height: 1.4;
    font-size: 14px;
  }
  pre::-webkit-scrollbar {
    background: var(--s-bg-c);
  }
  .vp-adaptive-theme {
    position: relative;
  }
  .vp-adaptive-theme:hover {
    .copy {
      opacity: 1;
      z-index: 9;
    }
    .lang {
      opacity: 0;
    }
  }
  .copy {
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px;
    padding: 0;
    color: var(--text-c-1);
    font-size: 12px;
    background: transparent;
    opacity: 0;
    transition: opacity 0.4s;
    &::after {
      content: 'copy';
      opacity: 0.75;
      transition: color 0.4s;
      cursor: pointer;
    }
    &:hover {
      color: var(--text-c);
    }
    &.copied::after {
      content: 'copied';
    }
  }
  .lang {
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px;
    color: var(--text-c-1);
    font-size: 12px;
    opacity: 0.75;
    transition: opacity 0.4s;
  }
  p {
    color: var(--text-c-1);
  }
  a {
    font-weight: inherit;
    text-decoration: none;
    color: var(--text-c);
    border-bottom: 1px solid var(--border-c);
    transition: all 0.3s ease-in-out;
    &:hover {
      border-bottom: 1px solid var(--text-c);
    }
  }

  code {
    color: inherit;
  }
  code::after, code::before {
    content: none;
  }
  p > code {
    font-weight: normal;
    font-size: 0.8em;
    padding: 0.2em;
    background-color: var(--s-bg-c);
  }
  .dark p > code {
    background-color: var(--s-dark-bg-c);
  }

  hr {
    border-bottom: 1px solid var(--border-c);
  }

  blockquote {
    border-left: 4px solid var(--border-c);
  }
  blockquote p{
    margin: 0.5em;
  }

  .header-anchor {
    float: left;
    margin-top: .125em;
    margin-left: -1.2em;
    padding-right: .5em;
    font-size: .85em;
    opacity: 0;
    text-decoration: none;
    border: 0 !important;
    transition: all 0.3s;
    color: var(--text-c-1);

    &:hover {
      color: var(--text-c);
    }
  }

  h1, h2, h3, h4, h5 {
    &:hover .header-anchor {
      opacity: 1;
    }
  }

  .table-of-contents-anchor {
    position: fixed;
    top: calc(52px + 1.125rem);
    bottom: 0;
    padding-left: 1rem;
    font-size: .8em;
    left: 20px;
    z-index: 200;
    overflow: hidden;
    width: 200px;
    flex-direction: column;
    
    ul {
      margin: 0 .2em;
      opacity: 0;
      transition: opacity .4s;
    }
    > ul {
      padding: 0;
    }
    &:hover ul {
      opacity: 1;
    }
    li {
      list-style: none;
    }
    li a {
      color: var(--text-c-1);
      &:hover {
        color: var(--text-c);
      }
    }
  }
  .table-of-contents-anchor:hover::before {
    opacity: 1;
  }
  .table-of-contents-anchor::before {
    --uri: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTMgNGgxOHYySDNWNFptMCA3aDEydjJIM3YtMlptMCA3aDE4djJIM3YtMloiLz48L3N2Zz4=);
    
    content: '';
    display: inline-block;
    margin: .5em 0;
    background-color: currentColor;
    width: 1.6em;
    height: 1.6em;
    -webkit-mask-size: 100% 100%;
    color: var(--text-c-1);
    mask-size: 100% 100%;
    -webkit-mask-image: var(--uri);
    mask-image: var(--uri);
    opacity: 0.4;
    transition: opacity .4s;
  }

  @media (max-width: 1024px) {
    .table-of-contents-anchor {
      display: none;
    }
  }
}

.prose table {
  /* Table  */
  tbody tr {
    border-bottom-width: 1px;
  }
  tbody tr td,
  thead tr th {
    border: 1px solid var(--border-c);
  }
  /* 斑马线 */
  tbody tr:nth-child(2n),
  thead tr th {
    background-color: #eee;
  }
}
html.dark .prose table {
  tbody tr:nth-child(2n),
  thead tr th {
    background-color: #222;
  }
} 
