:root {
  --primary-c: #3F3F46;
  --primary-c-1: #52525B;
  --primary-c-2: #71717A;
  --text-c: #303133;
  --text-c-1:#666666;
  --bg-c: #e7e6e1;
  --main-bg-c: #f3f4f6;
  --border-c: #e2e2e2;

  /* dark theme */
  --dark-primary-c: #eeeeee;
  --dark-text-c: #E5EAF3;
  --dark-text-c-1:#A3A6AD;
  --dark-bg-c: #222;
  --dark-main-bg-c: #1a1a1a;
  --dark-border-c: #484848;
}
html.dark {
  --primary-c: var(--dark-primary-c);
  --text-c: var(--dark-text-c);
  --text-c-1: var(--dark-text-c-1);
  --bg-c: var(--dark-bg-c);
  --main-bg-c: var(--dark-main-bg-c);
  --border-c: var(--dark-border-c);
}